/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

    width: 100%;
    height: 93hv;
     background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(assets/background.jpg);
    background-size: cover;
   
}

.text-center{

    text-align: center;
}

.text-right{

    text-align: right;
}

.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}

.m20{
margin: 20px;
}

.mt10{
    margin-top: 10px;
}
.ml10{
    margin-left: 10px;
}